* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.9;
    font-size: 13px;
}

header{
    background-image: url('https://cdn.pixabay.com/photo/2017/05/14/11/33/football-2311831_960_720.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-color: rgb(23, 23, 201);
}
main {
    width: 100%;
}

h1 {
    padding: 20px;
    text-align: center;
    background-color: brown;
    color: white;
}
h2 {
    text-align: center;
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: brown;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 216, 245);
}

.sekcja {
    padding: 10px;
    flex-direction: column;
}

.pilkarze {
    width: 100vw;
    padding: 10px;
}

p {
    line-height: 1.9;
    padding: 0px 10px;
}

.stadion-img {
    background-image: url('https://cdn.pixabay.com/photo/2019/12/09/12/14/barcelona-4683399_960_720.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.town-img {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/14/23/00/barcelona-3226639_960_720.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.barcelona-muzeum {
    background-image: url('https://cdn.pixabay.com/photo/2020/03/09/21/30/museum-4917179_960_720.jpg');
    width: 33%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    margin: 0px 2px;
}
.barcelona-plac-despaya {
    background-image: url('https://cdn.pixabay.com/photo/2022/05/22/17/36/placa-despanya-7214152_960_720.jpg');
    width: 33%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    margin: 0px 2px;
}
.barcelona-miasto {
    background-image: url('https://cdn.pixabay.com/photo/2020/05/18/22/17/travel-5188598_960_720.jpg');
    width: 33%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    margin: 0px 2px;

}
.zdjecia-barcelony {
    flex-direction: row;
    display: flex;
    background-color: black;
    margin: 10px;
    padding: 5px;
}

.piłkarze-img {
    background-image: url('https://cdn.pixabay.com/photo/2020/08/02/09/25/jersey-5457156_960_720.jpg');
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.trophy-img {
    background-image: url('https://cdn.pixabay.com/photo/2017/12/24/23/30/trophy-3037779_960_720.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.liga-img {
    background-image: url('https://cdn.pixabay.com/photo/2014/06/04/17/31/spain-362238_960_720.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.left-column {
    display: inline-block;
    text-align: right;
}
.right-column {
    display: inline-block;
    text-align: left;
}

.row {
    text-align: center;
}
.stadion-text {
    padding: 0px 20px;
}
.stadion-map {
    padding: 0 20px;
    height: 20vh;
}

.trofea-content {
    text-align: center;
}

    @media(min-width: 720px){
        *{
            font-size: 16px;
        }
        main{
            flex-wrap: wrap;
            flex-direction: row;
        }
        .sekcja {
            width: 50%;
        }
}